<h1 class="title__uppercase">Sobre Mim</h1>
<div class="content">
    <div class="img__mae">
        <img src="assets/mãe-removebg-preview.png" alt="Imagem de Juliana Ribeiro Epifanio">
    </div>
    <div class="text__mae">
        <span class="first-letter">M</span>
        <p>
            eu nome é Juliana Ribeiro Epifanio, e minha jornada com o Reiki começou em um momento de desafios profundos na minha vida. Eu vivia lidando com a depressão e a ansiedade generalizada, condições que afetavam cada aspecto do meu cotidiano. Foi em busca de alívio e cura que conheci o Reiki, uma prática holística que, de forma inesperada, se tornaria um farol de luz no meio das minhas sombras internas.
        </p>
        <p>
           O Reiki surgiu para mim como uma alternativa, depois de muitas tentativas tradicionais de tratamento. Eu estava cética no começo, mas a sensação de paz e equilíbrio que a energia do Reiki proporcionava a cada sessão me mostrou que algo estava mudando dentro de mim. A experiência foi profunda e transformadora, não apenas fisicamente, mas emocional e espiritualmente. Senti uma leveza crescente que eu não conhecia, uma conexão com algo maior, e uma sensação de cura que não se limitava à mente, mas alcançava minha essência.
        </p>
        <p>
           Hoje, o Reiki é uma parte importante da minha vida. Ele não só ajudou a aliviar meus sintomas de depressão e ansiedade, mas também me ensinou a importância do equilíbrio energético e da atenção plena. Cada sessão é uma oportunidade de autoconhecimento e de cuidar de mim mesma de uma forma que nunca imaginei possível. O Reiki não foi apenas uma terapia para mim; ele foi o catalisador de uma verdadeira transformação interior.
        </p>
        <p>
           Com a formação até o nível mestre pela escola Conexão Estelar, sinto-me preparada e inspirada a compartilhar essa cura com os outros. Quero aplicar o Reiki em outras pessoas, assim como ele foi essencial para a minha jornada de bem-estar, para que mais pessoas possam experimentar seus benefícios profundos.
        </p>
    </div>
</div>