<div class="footer__content">
    <div class="thanks_">
        <div>
            <h3>Agradecimento</h3>
        </div>

        <div class="thanks__text">
            <i>Gostaria de expressar minha profunda gratidão à minha mãe, que foi minha maior inspiração para criar uma landing page especialmente para ela. </i><br>
            <i><br/>Sua confiança em mim e no meu desempenho sempre me motivaram a ir além e dar o meu melhor. ❤️</i>
        </div>
    </div>

    <div class="created__by">
        <div >
            <h3>Criado Por</h3>
        </div>

        <div class="text__created">
            <p>Diego José Soares</p>
        </div>
        <div class="text__media-social">
            <div>
                <label for="linkedin" class="pi pi-linkedin"></label>
                <a href="https://www.linkedin.com/in/diego-soares-009398234">Visite meu LinkedIn</a>

            </div>
            <div>
                <label for="whatsapp" class="pi pi-whatsapp"></label>
                <a href="https://w.app/jOkmSQ">Entre em contato no WhatsApp</a>

            </div>
        </div>
    </div>
</div>