@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.footer__content{
    width: 100%;
    background-color: #E2AFAE;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
}

.thanks_{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.created__by{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.text__media-social{
    cursor: pointer;
    padding: 1rem;
    gap: 1rem;
}


@media(max-width: 700px){
    .footer__content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

