<div class="footer__content">
    <div class="thanks_">
        <div>
            <h3>Agradecimento</h3>
        </div>

        <div class="thanks__text">
            <i>Gostaria de expressar minha profunda gratidão à minha mãe, que foi minha maior inspiração para criar uma landing page especialmente para ela. </i><br>
            <i><br/>Sua confiança em mim e no meu desempenho sempre me motivaram a ir além e dar o meu melhor. ❤️</i>
        </div>
    </div>

    <div class="created__by">
        <div >
            <h3>Criado Por</h3>
        </div>

        <div class="text__media-social">
            <div>
                <i class="pi pi-linkedin"></i>
                <a href="https://www.linkedin.com/in/diego-soares-009398234" target="_blank">Visite meu LinkedIn</a>
            </div>
            <div>
                <i class="pi pi-whatsapp"></i>
                <a href="https://w.app/jOkmSQ" target="_blank">Entre em contato no WhatsApp</a>
            </div>
        </div>
    </div>
</div>