@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    
}

.navbar__logo img {
    width: 8rem;
    height: auto;
    display: flex;
    padding: 1rem;
    cursor: pointer;
}

.navbar__links {
    width: 100%;
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.navbar__links a {
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    cursor: pointer;

}



.menu-toggle {
    display: none;
}

.hamburger-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #cfcfcf;
}

@media (max-width: 700px) {
    .navbar__links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: transparent;
        top: 100%;
        left: 0;
        right: 0;
        padding: 0.1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
    }

    .hamburger-icon {
        display: block;
        padding: 2rem;
        color: black;
    }

    .menu-toggle:checked + .hamburger-icon + .navbar__links {
        display: flex;
    }
}