<app-header />

<div class="cards__center">
  <app-cards
    imageSrc="assets/reiki.jpg"
    title="Benefícios do Reiki:"
    content="O Reiki promove relaxamento, alivia dores físicas e emocionais, melhora o equilíbrio energético e emocional, além de fortalecer a saúde geral como terapia complementar."
  ></app-cards>
  <app-cards
    imageSrc="assets/reiki-img-3.jpg"
    title="Para Quem é o Reiki?"
    content="O Reiki é para qualquer pessoa que busca equilíbrio, bem-estar e harmonia. Pode beneficiar quem enfrenta estresse, dores físicas ou emocionais, além de ser útil como complemento a tratamentos médicos. É uma prática acessível e segura para todas as idades."
  ></app-cards>
  <app-cards
    imageSrc="assets/reiki-img-2.jpg"
    title="O que é Reiki?"
    content="O Reiki é uma terapia complementar que consiste na transferência de energia vital universal para o paciente através das mãos. O objetivo é equilibrar o corpo, a mente e as emoções."
  ></app-cards>
</div>

<div class="img__test"></div>

<div class="simple__card">
  <app-card-simple
    title="Curiosidades"
    content="Estudos científicos indicam que o Reiki pode ajudar a reduzir o estresse, a ansiedade e melhorar a qualidade do sono, com alguns sugerindo mudanças nos níveis de cortisol (hormônio do estresse) e melhora na circulação. Embora os mecanismos exatos não sejam totalmente compreendidos, os benefícios subjetivos são amplamente relatados. A pesquisa científica sobre o Reiki está em evolução, com mais estudos sendo conduzidos para entender melhor seus efeitos."
    font="Journal of Alternative and Complementary Medicine."
  >
  </app-card-simple>
</div>

<section id="sobre-mim">
  <div class="about_me">
      <app-about-me></app-about-me>
  </div>

</section>

<section id="contato">
  <div class="contact">
    <app-contact></app-contact>
  </div>
</section>

<div class="footer__terms">
  <app-footer></app-footer>
</div>